
:root {
    --main-hght-color: rgb(23, 167, 47);
    --main-bg-color: grey;
    --main-txt-color: rgb(35, 35, 109);
    --main-headingbg-color: rgb(35, 35, 109);
    --main-heading-color: var(--main-bg-color);
    --main-padding: 15px; 
    --main-margin: 15px;
  }

  /* box-sizing: border-box; on an element padding and border are included in the width and height: */

.employee {
  background-color: white;
    padding: var(--main-padding);
    border-color: var(--main-text-color);
    border: 1px solid var(--main-txt-color);
box-shadow: 5px 5px 5px var(--main-txt-color);
margin: var(--main-margin);
width: 50vh;
box-sizing: border-box;
display: inline-block;
}

.employee__name h1 {
    background-color: grey;
    background-color: var(--main-headingbg-color);
    color: var(--main-heading-color);
    color: var(--main-hght-color);
    padding: var(--main-padding);

}

.employee__department {
    color: var(--main-txt-color);
    text-align: center

}

.employee__computer {
    color: var(--main-text-color);
    text-align: center;

}

body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}
.highlight {
    color: var(--main-hght-color);
}